# Entornos virtuales
venv/
env/
.env

# Node
node_modules/
pnpm-lock.yaml
.pnpm-store/

# Django
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db